html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}




/*Egen css kod*/

@font-face {
    font-family: 'casloncp';
    src: url('../font/casloncp.otf') format('opentype');
}

#body {
    background-color: #561D62;
}

.jumbotron {
    background-color: #561D62;
    margin-top: 70px;
    margin-bottom: 50px;
    text-align: center;
    width: auto;
    height: 500px;
}

#nextCustomer, #closeCounter {
    margin-top: 50px;
}

.btn-group-lg > .btn, .btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    background-color: #561D62;
    color: white;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 50px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 18px;
    outline:none;
}

.btn-success:hover {
    background-color: #EF6BA3;
}

.btn-success {
    background-color: #EF6BA3;
}

    .btn-success:after:hover {
        background-color: #EF6BA3;
    }

    .btn-success:active:hover {
        background-color: #F2A1C3;
    }

#joinQueueButton, #helpNextCustomerButton, #openCounterButton, #loginButton, #createTellerButton, #updateTellerButton {
    background-color: #EF6BA3;
    border-color: #7C0A8A;
    width: 500px;
    height: 150px;
    border-radius: 18px;
    outline: none;
}

#closeCounterButton {
    background-color: #F2A1C3;
    border-color: #7C0A8A;
    width: 500px;
    height: 150px;
    border-radius: 18px;
    outline: none;
}

h3 {
        color: white;
        font-size: 50px;
        margin: 8px 0px 8px 0px;
        font-family: 'Times New Roman';
    }

h4 {
    color: white;
    font-size: 30px;
    margin: 8px 0px 8px 0px;
}

#form {
    margin-top: 50px;
}

.btn-danger, btn-danger:hover, btn-danger:active:hover {
    background-color: #DD65EC;
}

#showCardNumber, #showCardNumberToTeller {
    color: white;
    font-size: 150px;
    background-color: #F2A1C3;
    max-width: 200px;
    margin: auto;
    margin-bottom: 120px;
    margin-top: 50px;
    border-radius: 25px;
    text-align: center;
    padding: 0px 0px 20px 0px;
}

#queuealert, #customersInQueue {
    color: white;
    font-size: xx-large;
    margin-top: 50px;
}

.container {
    text-align: center;
    width: auto;
    margin-bottom: 480px;
    height: 650px;
}

.tableContainer {
    width: 1000px;
    margin: auto;
}

.table-striped {
    color: black;
    background-color: #EF6BA3;
    margin:auto;

}

th, td {
    text-align: center;
}

#tableHead {
    color:white;
    font-size:25px;
    font-weight:bold;
}

.form-group {
    max-width: 500px;
    margin: 0 auto;
    /*color: white;*/
}

#userName {
    margin-top: 25px;
}

#password {
    margin-bottom: 25px;
}

#label {
    font-size: 25px;
    max-width: 330px;
    margin: 0 auto;
    color: white;
    margin-top: 1px;
    margin-bottom: 10px;
}

#input {
    font-size: 25px;
    max-width: 500px;
    margin: 0 auto;
    color: black;
    margin-top: 1px;
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: bold;
    padding: 4px;
    height: 65px;
}

#span {
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 18px;
    max-width: 330px;
    padding: 30px;
    margin: 0 auto;
    color: white;
}

#updateLink {
    color: black;
}

.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 200px;
    text-align: center;
    background-color: #561D62;
}

html {
    position: relative;
    min-height: 100%;
}
