@model TellerHomeVM

@{
    ViewBag.title = "Hem";
}

<form id="form" asp-controller="Teller" asp-action="Home">
    <h3>@Model.Name</h3>
    <input id="openCounterButton" class="btn btn-success btn-lg" type="submit" value="Bemanna kassa" />
</form>

