@model TellerHomeVM

<h4>Tryck på knappen för att bemanna kassa</h4><br />

<form id="form" asp-controller="Teller" asp-action="Home">
    <input id="openCounterButton" class="btn btn-success btn-lg" type="submit" value="Bemanna kassa" />
</form>

