@model TellerLogInVM

@{
    ViewBag.title = "Logga in";
}

<form asp-controller="Teller" asp-action="LogIn">
    <div class="form-group">
        <label asp-for="Användarnamn"></label>
        <input asp-for="Användarnamn" class="form-control" />
    </div>
    <span asp-validation-for="Användarnamn"></span>
    <br />
    <div class="form-group">
        <label asp-for="Lösenord"></label>
        <input asp-for="Lösenord" class="form-control" />
    </div>
    <span asp-validation-for="Lösenord"></span>
    <br />
    <input type="submit" class="btn btn-success btn-lg" value="Logga in">
    @*<input class="btn btn-default" type="submit" value="Ok" />*@
</form>