@model TellerQueueVM
<h1>Välkommen till QApp</h1>

<div id="showCardNumberToTeller">

</div> 

<div id="nextCustomer">
    <button class="btn btn-success" id="helpnextcustomer" onclick="helpnextcustomer()"> Hjälp nästa i kö</button>
</div>

<form asp-controller="Teller" asp-action="Queue">
    <input class="btn btn-danger"  type="submit" value="Stäng kassa" />
</form>

<script>
    function helpnextcustomer() {
        $.ajax({
            url: "helpnextcustomer",
            success: function (result) {
                $("#showCardNumberToTeller").html(result.cardNumber);
            }
        });

    }

</script>