@model TellerQueueVM

<h4 id="myCounter"></h4>

<h4 id="tellerName"></h4>

<div id="displayToTeller" style="display:none">
    <h3>Nummer att betjäna:</h3>
    <div id="showCardNumberToTeller"></div>
</div>


<div id="nextCustomer">
    <button class="btn btn-success btn-lg" id="helpNextCustomerButton" onclick="helpnextcustomer()">Hjälp nästa i kö</button>
</div>

<div id="closeCounter">
    <button id="closeCounterButton" class="btn btn-danger btn-lg" onclick="checkcounter()">Stäng kassa</button> @*Ändrat till att kolla counter i stället för att stänga kassa*@
</div>


<div id="customersInQueue"></div>

<script>
    $(document).ready(function () {
        queueinterval = setInterval(showcustomersinqueue, 3000);
    });
</script>

@*<script>
        function closecounter() {
            $.ajax({
                url: "/teller/closecounter",
                success: function (result) {
                    window.location.href = "/teller/home";
                }
            });

        }


    </script>*@




@*<script>
    function helpnextcustomer() {
        $.ajax({
            url: "helpnextcustomer",
            success: function (result) {
                $("#showCardNumberToTeller").html(result.cardNumber);
            }
        });
    }*@

@*//Byta asp till javascript
    //function Queue() {
    //    $.ajax({
    //        url: "Queue",
    //        success: function (result) {
    //            $("#showCardNumberToTeller").html(result.cardNumber);
    //        }
    //    });

    //}*@

@*</script>*@
