@model TellerQueueVM

<h3 id="myCounter"></h3>

<h3 id="tellerName"></h3>

<div id="displayToTeller" style="display:none">
    <h3>Nummer att betjäna:</h3>
    <div id="showCardNumberToTeller"></div>
</div>


<div id="nextCustomer">
    <button class="btn btn-success btn-lg" id="helpNextCustomerButton" onclick="helpnextcustomer()">Hjälp nästa i kö</button>
</div>

<div id="closeCounter">
    <button id="closeCounterButton" class="btn btn-danger btn-lg" onclick="checkcounter()">Stäng kassa</button> @*Ändrat till att kolla counter i stället för att stänga kassa*@
</div>




<h4 id="customersInQueue"></h4>

<script>
    showcustomersinqueue();
    $(document).ready(function () {
        queueinterval = setInterval(showcustomersinqueue, 3000);
    });


    
</script>
