@model AdminUpdateVM

<form asp-controller="Admin" asp-action="Update">
    <div id="userName" class="form-group">
        <label id="label" asp-for="UserName">Användarnamn</label>
        <input value="@Model.UserName" id="input" asp-for="UserName" />
        
        <br />
        <label id="label" asp-for="Password">Lösenord</label>
        <input id="input" asp-for="Password" />
        <span id="span" asp-validation-for="Password"></span>
        
        <br />
        <label id="label" asp-for="PasswordConfirm">Bekräfta lösenord</label>
        <input id="input" asp-for="PasswordConfirm" />
        <span id="span" asp-validation-for="PasswordConfirm"></span>

        
        <br />
        <label id="label" asp-for="FirstName">Förnamn</label>
        <input value="@Model.FirstName" id="input" asp-for="FirstName" />
       
        <br />
        <label id="label" asp-for="LastName">Efternamn</label>
        <input value="@Model.LastName" id="input" asp-for="LastName" />
       
        <br />
        <input id="updateTellerButton" type="submit" class="btn btn-success btn-lg" value="Uppdatera">
    </div>
</form>

