@model AdminUpdateVM

<form asp-controller="Admin" asp-action="Update">
        <div id="userName" class="form-group">
            <label id="label" asp-for="UserName">Användarid</label>
            <input id="input" asp-for="UserName" class="form-control" />
            <span id="span" asp-validation-for="UserName"></span>
        </div>
        <div id="password" class="form-group">
            <label id="label" asp-for="Password">Lösenord</label>
            <input id="input" asp-for="Password" class="form-control" />
            <span id="span" asp-validation-for="Password"></span>
        </div>
        <div id="passwordConfirm" class="form-group">
            <label id="label" asp-for="PasswordConfirm">Bekräfta lösenordet</label>
            <input id="input" asp-for="PasswordConfirm" class="form-control" />
            <span id="span" asp-validation-for="PasswordConfirm"></span>
        </div>
        <div id="firstName" class="form-group">
            <label id="label" asp-for="FirstName">Förnamn</label>
            <input id="input" asp-for="FirstName" class="form-control" />
            <span id="span" asp-validation-for="FirstName"></span>
        </div>
        <div id="lastName" class="form-group">
            <label id="label" asp-for="LastName">Efternamn</label>
            <input id="input" asp-for="LastName" class="form-control" />
            <span id="span" asp-validation-for="LastName"></span>
        </div>
        <input id="updateTellerButton" type="submit" class="btn btn-success btn-lg" value="Uppdatera">
    </form>

