<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link href="~/style/MyStyleSheet.css" rel="stylesheet" />
    <link href="~/style/PhoneStyleSheet.css" rel="stylesheet" />
    <script src="~/js/QAppScript.js"></script>


</head>
<body id="body">

    <div id="jumbotron" class="jumbotron">
        <img src="~/pictures/Caslon1.png" />
    </div>
    <h3> @ViewBag.h3 </h3>
    <div class="container">


        @RenderBody()
    </div>

    <footer id="footer" class="footer">
        <h4>&copy;QApp</h4>
    </footer>
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>*@
</body>
</html>
