.jumbotron {
    background-color: pink;
    height: 150px;
}

#test h1 {
    font-size: 50px;
    font-family: Georgia;
}

#test form {
    font-family: Arial, Helvetica, sans-serif;
}

#nextCustomer {
    padding: 1em,1em, 1em, 1em;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 150px;
    background-color: pink;
}

.form-group {
    font-family: arial;
    font-size: x-large;
    font-weight: 900;
}

#UserName, #Password {
    padding: 8px;
    border: double;
    border:medium
}
