@model CustomerIndexVM

@{
    ViewBag.title = "Välkommen till QApp";
}

<h2>Välkommen till QApp!</h2><br />

<h3 id="queuealert" style="display:none"></h3>

<div id="showCardNumber" style="display:none"></div>

<div>
    <button type="button" class="btn btn-success btn-lg" id="joinQueueButton" onclick="joinqueue();"> Ställ dig i kö</button>

</div>

<div>
    <button id="leaveQueueButton" class="btn btn-success btn-lg" onclick="leaveQueue()" style="display:none"> Gå ur kö</button>
</div>



