@model CustomerIndexVM

<h1>Välkommen till QApp</h1>
<form asp-controller="Customer" asp-action="Index">
    <input type="submit" value="Ställ dig i kö" />
</form>

<div>
    @Model.CardNumber
</div>   

