@model CustomerIndexVM
@{
    ViewBag.h3 = "Välkommen till QApp!";
}

<div id="showCardNumber">
    @Model.CardNumber
</div>

<div>
    <button type="button" class="btn btn-success btn-lg" id="joinQueue" onclick="joinqueue();" > Ställ dig i kö</button>

</div>

<div id="showNumbersBeforeYou">
    Personer före dig i kön: @Model.NumbersLeftInQueue
</div>

@*Knapp för att lämna kö*@
@*<div>
        <button  id="leaveQueue" onclick="leavequeue()" style="display:none"> Gå ur kö</button>
    </div>*@

@*<form asp-controller="Customer" asp-action="Index">
        <input type="submit" value="Ställ dig i kö" />
    </form>*@


@* Lagt till ett fält för att visa antal platser före i kön.
    Vi vill alltså kolla efter uppdateringar i cards-tabellen för att göra en ny check och
    uppdatera kunden*@



<div id="queuealert" style="display:none">


</div>



<script>
    function joinqueue() {
        $.ajax({
            url: "GetCustomerCardNumber",
            success: function (result) {
                $("#showCardNumber").html(result.cardNumber);
                $("#joinQueue").addClass("button");
                $("#joinQueue").hide();
                //$("#leaveQueue").show();
                console.log(result.cardNumber);
                showposition();
                var interval = setInterval(showposition, 3000)
            }
        });
    }

    function showposition() {
        $.ajax({
            url: "ShowPositionInQueue",
            success: function (result) {
                $("#showNumbersBeforeYou").html(result.numbersLeftInQueue);
                console.log(result.numbersLeftInQueue);

                if (result.numbersLeftInQueue == 1)
                {
                    $("#queuealert").html("Nu är det 1 person före dig i kön.");
                    $("#queuealert").show();
                }
                else if (result.numbersLeftInQueue == 0)
                {
                    $("#queuealert").html("Nu är det din tur!");
                    $("#queuealert").show();
                }
            }
        });
    }

   
   



    //Funktion för att lämna kö
    //function leavequeue() {
    //    $.ajax({
    //        url: "LeaveCustomerQueue",
    //        success: function () {
    //            $("#joinQueue").show();
    //            $("#leaveQueue").hide();

    //        }
    //    });

    //}

    //Anrop till databas för att hålla kön uppdaterad
</script>
