@model CustomerIndexVM

@{
    ViewBag.title = "Välkommen till QApp";
}

<h3>Välkommen till QApp!</h3><br />
<h4>Vänligen ta en kölapp</h4>

<div id="showCardNumber" style="display:none">
    @*@Model.CardNumber*@
</div>

<div>
    <button type="button" class="btn btn-success btn-lg" id="joinQueueButton" onclick="joinqueue();"> Ställ dig i kö</button>

</div>


<div id="queuealert" style="display:none"></div>


<div>
    <button id="leaveQueueButton" onclick="leaveQueue()" style="display:none"> Gå ur kö</button>
</div>


@*<form asp-controller="Customer" asp-action="Index">
        <input type="submit" value="Ställ dig i kö" />
    </form>*@

@*<div id="showNumbersBeforeYou">
        Personer före dig i kön: @Model.NumbersLeftInQueue
    </div>*@



