@model UserRegisterVM

@{ 
    ViewBag.title = "Registrera dig";
}

<form asp-controller="User" asp-action="Register">
    <label asp-for="UserName"></label>
    <input asp-for="UserName" />
    <span asp-validation-for="UserName"></span>
    <br/>
    <label asp-for="Password"></label>
    <input asp-for="Password" />
    <span asp-validation-for="Password"></span>
    <br />
    <label asp-for="PasswordConfirm"></label>
    <input asp-for="PasswordConfirm" />
    <span asp-validation-for="PasswordConfirm"></span>
    <br />
    <input type="submit" value="Ok" />


</form>